<h1>Sign Up</h1>

<%= render "shared/errors" %>

<form action="<%= users_url %>" method="post">
  <%= form_auth_token %>

  <label for="email">Email</label>
  <input
    type="text"
    name="user[email]"
    id="email"
    value="<%= @user.email %>">
  <br>

  <label for="password">Password</label>
  <input
    type="text"
    name="user[password]"
    id="password"
    value="<%= @user.password %>">
  <br>

  <button>Submit</button>
</form>
